.App {
  width: 100%;
  min-height: 100vh;
}

$gray-color-300: #e2e8f0;
$gray-color-500: #a0aec0;

$base-color-100: #c9e2ff;
$base-color-300: #64a8ff;
$base-color-500: #3182f6;
$base-color-700: #1b64da;
$base-color-900: #194aa6;
